html body {
    position: absolute;
    padding: 0 px;
    background-color: #797979;
    color: #000000;
}

html * {
	width: 100%;
	font-size: 25px !important;
}

.clock, .progress, .filename, .remaining {
	width: 14%;
	overflow-wrap: break-word;
}

.clock {
	background-color: #C0C2FF;
}

#opts {
	position:fixed;
	bottom: 21%;
	left: 25%;
}

#opts .opt {
	margin: 0 auto;
}

#opts .right, #opts .left{
	float: left;
	margin-top: 33px;
	width:10%
}

#opts .left{
	text-align: right;
}

#opts.right {
	text-align: left;
}

#opts .center {
	float: left;
	width: 500px;
	margin: 0px 5px 0px 5px;
}

#ip_addr input, #opts .opt.up, #opts .opt.down {
	width: 500px;
	text-align:center;
}

#ip_addr input.active {
	background-color: green;
}