html body {
    position: absolute;
    padding: 0 px;
    background-color: #ffffff;
    color: #000000;
}

html * {
	font-size: 25px !important;
}

.clock {
	position:fixed; 
	right:20px;
}

#opts {
	position:fixed; 
	bottom:20%;
	left: 35%;
}

#opts .opt {
	margin: 0 auto;
}

#opts .right, #opts .left{
	float: left;
	margin-top: 28px;
}

#opts .center {
	float: left;
}

#ip_addr input, #opts .opt.up, #opts .opt.down {
	width: 500px;
	text-align:center;
}

#ip_addr input.active {
	background-color: green;
}